{% extends 'base.html' %}
{% block content %}

<section id="about-section">
    <section id="about-us">
        <h1>About Us</h1>
        <p>
            We are a Georgia-based company just outside of Atlanta. Plant
            Therapy is a plant nursery that sells plants online while also
            holding workshops in person to teach new plant owners all about
            raising and taking care of plants. View our plant collection online
            or stop in to join a workshop, shop for supplies, or ask us a question
            -or several! We're here for all of your growing needs!
        </p>
    </section>

    <section id="columns">
        <div class="column" id="benefits">
            <h2>Benefits of House Plants</h2>
            <ul>
                <li>Improves mood and sleep</li>
                <li>Reduces fatigue</li>
                <li>Reduces allergens and sound polution</li>
                <li>Lowers stress and anxiety</li>
                <li>Improves performance and focus</li>
                <li>Boosts healing and pain tolerance</li>
                <li>Improves air quality</li>
                <li>Increases moisture in the air</li>
            </ul>
        </div>

        <div class="column" id="top-houseplants">
            <h2>Top House Plants</h2>
            <ul>
                <li>Peace Lily</li>
                <li>Pothos</li>
                <li>Snake Plant</li>
                <li>African Violet</li>
                <li>ZZ Plant</li>
                <li>Cast Iron Plant</li>
                <li>Monstera</li>
                <li>Bonsai</li>
                <li>Fiddle Leaf Fig</li>
            </ul>
        </div>

        <div class="column" id="plant-care">
            <h2>Caring for your Plants</h2>
            <ul>
                <li>Research your specific plant</li>
                <li>Make sure your plant gets adequate light</li>
                <li>Maintain a regular watering/fertilizing schedule</li>
                <li>Check plants regularly for signs of pests</li>
                <li>Clean and dust your leaves for healthier plants</li>
                <li>Check to make sure your plants are pet-safe</li>
                <li>Trim any decaying or dead leaves</li>
            </ul>
        </div>
    </section>
</section>
{% endblock content %}