<!DOCTYPE html>
<html>

<head>
    <title>My Plants</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/about.css">
    <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap" rel="stylesheet">
</head>

<body>
    <header class="page-header">
        <h1>Plant Therapy</h1>
        <p>Because Plants are cheaper than therapy</p>
        <nav>
            <a href="/">Home</a>
            <a href="/create">Add New Plant</a>
            <a href="/about">About</a>
        </nav>
    </header>

    <div id="cover-photo">
        <!--Header & Nav page-->
    </div>

    {% block content %}{% endblock %}


    <footer>
        <div>
            Copyright 2020 @ makeschool.com
        </div>
    </footer>

    <script src="/static/index.js"></script>
</body>

</html>